<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Центр инновационного развития</title>
    <link rel="icon" type="image/x-icon" href="{% static 'contact/logo.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<header>
    <div class="logo">
       <a href="{% url 'index' %}"><img src="{% static 'contact/cub.png' %}" alt="Центр инновационого развития"
                                         width="4%"></a><h1><i>Центр инновационного развития</i></h1>
    </div>
     <marquee behavior="scroll" bgcolor="silver" direction="left" bgcolor="none" loop="1" scrollamount="10">
        <b>Дипломная работа СУСПИЦИНОЙ МАРИИ</b>
    </marquee>

</header>
<body>
<div class="menu">
    <div class="wrap">
        <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'news' %}">Новости</a></li>
            <li><a href="{% url 'order_work' %}">Запросы на инновации</a></li>
            <li><a href="{% url 'doc:docs' %}">Нормативные документы</a></li>

        </ul>
    </div>
</div>
<div class="contact">
    <div class="wrap">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>

</html>