{% extends 'contact/base.html' %}
{% block content %}

{% load static %}
<div class="element"><section>
<h1>Запросы на инновации</h1>
    <p>С целью внедрения готовых решений, передовых разработок, новой техники и технологий на Западно-Сибирской железной дороге ОАО «РЖД» разработаны «Запросы на инновационные проекты по направлениям», воспользовавшись которым любой поставщик технологий и оборудования может предложить свои наработки для использования в интересах Холдинга.</p>
    <p>Предложения или готовые решения со стороны внешней инновационной среды будут рассмотрены на региональной инновационной площадке с привлечением функциональных заказчиков от железной дороги и разработаны мероприятия по реализации инновационных предложений.</p>
    <p>Обязательным условием рассмотрения является высокая степень проработки предложения с возможностью представить готовое решение и/или прототип для опытной эксплуатации и/или закупки в интересах ОАО «РЖД».</p>
</section>
<section>
<h2>Запросы на инновационные проекты:</h2>
    <p><b><a href="{% static 'contact/ZaprosZS.pdf' %}" target="_blank">Перечень запросов на инновации</a></b></p>
</section>
<section>
<h2>Открытые запросы</h2>
    <p>Начиная с 2018 года в ОАО «РЖД» успешно реализуется инструмент открытого запроса – процедура поиска инновационных предложений для решения актуальных для ОАО «РЖД» задач (запросов на инновации) с возможностью их опытной эксплуатации (испытаний) и / или закупки. Процедура открытого запроса позволяет в сжатые сроки задействовать промышленный и инновационный потенциал российских и зарубежных компаний в интересах Холдинга. Преимуществами данного инструмента является возможность в короткие сроки довести до неограниченного круга лиц конкретные потребности ОАО «РЖД» в инновационных решениях, а высокотехнологичным организациям внешнего по отношению к ОАО «РЖД» контура заявить и в дальнейшем апробировать лучшие инновационные решения на сети ОАО «РЖД» в краткосрочной перспективе.</p>
<p>В рамках направления Центром инновационного развития – филиалом ОАО «РЖД» впервые сформирован расширенный перечень востребованных для функциональных подразделений ОАО «РЖД» тематик открытых запросов, составляющий более сотни наименований. К приоритетным направлениями следует отнести: повышение энергетической эффективности основной деятельности, безопасность и надежность производственных процессов, развитие, мониторинг и обслуживание инфраструктуры и подвижного состава на основе внедрения инновационных высокопроизводительных технологий, динамические системы управления перевозочным процессом с использованием искусственного интеллекта, инновационные телекоммуникационные решения, научно-техническое обеспечение природоохранной деятельности.</p>
    <p>Прием заявок осуществляется через раздел «Запросы» информационно-функционального ресурса <b><a href="https://eoi.rzd.ru/front/запросы" target="_blank">«Единое окно инноваций ОАО «РЖД».</a></b>
    <p><b><i>Установленные на правила представления и оформления инновационных предложений зависят от предлагаемого вами инновационного объекта:</i></b></p>
    <ul>
    <li>Готовый инновационный товар (услуга), предлагаемый для закупки</li>
    <li>Инновационные предложения (проекты), которые будут использованы в ОАО «РЖД».</li>
    </ul>

</section>
</div>
{% endblock %}

